
/*step 1*/
@keyframes mymove {
    0%   {width: 25px; opacity: 0;}
    100% {width: 475px; opacity: 1;}
  }

#logo {
    animation: mymove 5s ease-out;
}

/*step 2*/
body {
    font-family: "Poppins", serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

/*step 3*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*step 4*/
.nav_links {
    display: flex;
    flex-direction: column;
}

/*step 5*/
a:link, a:visited {
    color: #1500FF;
}

/*step 6*/
.card > header {
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0px;
    border-radius: 50px 50px 0px 0px;
}

/*step 7*/
.card {
    border-radius: 50px 50px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
}

/*step 8*/
.pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*step 9*/
.gallery > img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 900px) {
    /*step 11*/
    header {
        flex-direction: row;
        justify-content: center;
    }

    .nav_links {
        flex-direction: row;
    }

    /*step 12*/
    .pricing {
        flex-direction: row;
    }

    .card {
        flex-basis: 275px;
    }

    /*step 13*/
    body > header {
        position: fixed;
        width: 100%;
        justify-content: space-between;
    }
}

/*step 14*/
@media (prefers-reduced-motion) {
    #logo {
        animation: none;
    }
  }

  @media print {
    /*steps 15-21*/

    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }
    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .pricing {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }

    .card {
        border: 2px solid #45ADDD;
        flex-basis: 325px;
    }

    #gallery, .gallery {
        display: none;
    }

    li:nth-child(2)::after {
        content: "\1F44D"; /* Unicode for thumbs-up emoji */
        font-size: 24px;
      }
  
  }